@charset "UTF-8";
body {
  background: linear-gradient(to left, rgba(15, 38, 62, 0.9411764706), #071820, #031113, #071820, rgba(15, 38, 62, 0.9450980392));
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding-inline: 2rem;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-block: 2rem;
  }
  .header {
    gap: 3rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
  }
  #menu {
    z-index: 3;
    padding-block: 2rem;
    text-align: center;
  }
  #ul-menu {
    list-style-type: none;
    margin: 0;
  }
  li {
    font-size: 1.5rem;
    margin-block: 0.5rem;
    padding: 0.5rem;
    transition: ease-in-out 120ms;
  }
  li:hover {
    background-color: rgba(144, 144, 144, 0.5137254902);
    box-shadow: 0 0 12px 0 rgba(144, 144, 144, 0.7058823529);
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: auto;
    color: rgb(255, 255, 255);
    position: relative;
    padding-block: 3rem;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-main {
    width: 100%;
    position: relative;
  }
  .image {
    width: 100%;
  }
  h1 {
    font-weight: 500;
    font-size: 34px;
  }
  h3 {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .btn-main {
    display: flex;
    align-items: center;
    margin-block: 2rem;
    width: 20rem;
    gap: 2rem;
    margin-right: 2;
  }
  .btn-store {
    width: 100%;
  }
  .movie {
    display: none;
  }
  .download {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .download .image {
    border: solid 5px #3b3b3b;
    border-radius: 1rem;
    padding-block: 0rem;
    width: 100%;
    height: auto;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-container .image-container {
    margin-block: 1rem;
  }
  .simplify-optimize {
    padding-block: 4rem;
  }
  .simplify-optimize h1::after {
    display: none;
  }
  .mobil-circle {
    bottom: 0;
    right: -2%;
    width: 20rem;
    height: 20rem;
  }
  #something {
    display: none;
  }
  #social {
    display: none;
  }
  #search {
    display: none;
  }
  #app {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-inline: 16rem;
    padding-block: 0.4rem;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    padding-inline: 12rem;
    padding-block: 2rem;
  }
  #li-menu {
    display: none;
  }
  .container {
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    position: relative;
  }
  .main {
    padding-block: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
  }
  .image-main {
    width: 25%;
    position: relative;
    animation: moveLeft 500ms;
  }
  @keyframes moveLeft {
    0% {
      right: 0;
    }
    100% {
      left: 0;
    }
  }
  .image {
    width: 100%;
  }
  h1 {
    font-weight: 500;
    font-size: 34px;
  }
  h3 {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .btn-main {
    display: flex;
    align-items: center;
    margin-block: 2rem;
    width: 20rem;
    gap: 2rem;
    margin-right: 2;
  }
  .btn-store {
    width: 100%;
  }
  .simplify-optimize {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-block: 2rem;
  }
  .simplify-optimize .content-container {
    display: block;
    margin: auto;
  }
  .simplify-optimize .image-container {
    width: 23rem;
    display: block;
    margin: auto;
    padding-top: 4rem;
  }
  .simplify-optimize .image-container .mobil-circle {
    width: 22rem;
    height: 22rem;
    top: 20%;
  }
  .simplify-optimize h1::after {
    display: none;
  }
  .container.head {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container.success {
    padding-inline: 16rem;
    padding-block: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
  .container.success .headlines {
    grid-column: 1/3;
    padding-bottom: 0;
  }
  .container.success .image-box {
    padding-inline: 2rem;
  }
  .container.success .image-box .text-container {
    transition: bottom ease-in-out 300ms;
    text-align: center;
    bottom: -32%;
    padding-inline: 2rem;
  }
  .container.success .image-box .text-container h4 {
    font-size: 1rem;
  }
  .container.success .image-box .text-container p {
    color: transparent;
  }
  .container.success .image-box:hover .text-container {
    bottom: 0;
  }
  .container.success .image-box:hover p {
    transition: ease-in-out 300ms;
    color: white;
  }
  .new-era {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-era .movie {
    width: 50%;
    height: auto;
    border: solid 5px #031113;
    border-radius: 0.5rem;
  }
  .download {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    padding-block: 4rem;
    padding-inline: 8rem;
  }
  .download p {
    grid-column: 1/4;
    text-align: center;
  }
  .download .image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    transition: transform ease-in-out 200ms;
  }
  .download .image-box:hover {
    transform: scale(1.1);
  }
  .download .image-box .image {
    border: solid 5px #3b3b3b;
    border-radius: 1rem;
    padding-block: 0rem;
    width: 100%;
    height: auto;
  }
  .help {
    padding-inline: 8rem;
    padding-block: 2rem;
    display: block;
    padding-right: 30%;
  }
  .search {
    padding-inline: 8rem;
    gap: 2rem;
  }
  .search h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .search .content-contaier {
    height: 20rem;
  }
  .strategi {
    padding-inline: 14rem;
    flex-direction: column;
    padding-block: 6rem;
  }
  .world {
    padding-inline: 16rem;
    padding-block: 2rem;
  }
  .world p {
    font-size: 1.2rem;
  }
  .world #woman-swinging {
    display: none;
  }
  .box-container {
    padding-inline: 16rem;
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 5rem;
  }
  .end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    text-align: center;
    gap: 4rem;
    padding-inline: 12rem;
  }
}
.play-ball {
  border: solid 5px white;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  color: white;
  font-weight: 800;
  font-size: 16px;
  background-color: transparent;
  transition: ease-in-out 300ms;
}
.play-ball:hover {
  color: #ff9797;
  border-radius: 0.6rem;
  border-color: #ff9797;
}

.btn-store {
  transition: transform ease-in-out 300ms;
  z-index: 5;
}
.btn-store:hover {
  transform: scale(1.1);
}

.color-animation {
  animation: colorChange 6s linear infinite; /* Ändra 3s till önskad animationstid */
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8392156863);
  transition: text-shadow ease-in-out 6s;
}
@keyframes colorChange {
  0% {
    color: rgb(132, 181, 255);
  }
  25% {
    color: rgb(124, 255, 124);
  }
  50% {
    color: rgb(255, 216, 216);
  }
  75% {
    color: rgb(255, 244, 128);
  }
  100% {
    color: rgb(183, 131, 255);
  }
}
@keyframes text-shadow {
  0% {
    color: rgb(214, 230, 253);
  }
  25% {
    color: rgb(207, 255, 207);
  }
  50% {
    color: rgb(255, 215, 215);
  }
  75% {
    color: rgb(255, 252, 215);
  }
  100% {
    color: rgb(183, 131, 255);
  }
}

p {
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: -webkit-text-decoration ease-in-out 100ms;
  transition: text-decoration ease-in-out 100ms;
  transition: text-decoration ease-in-out 100ms, -webkit-text-decoration ease-in-out 100ms;
}
a:hover {
  text-decoration: underline;
}

h5 {
  font-size: 1.4rem;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h1::after {
  content: ".";
  color: rgb(255, 212, 20);
  font-size: 4rem;
  line-height: 0;
}

#overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2588235294);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
}
#overlay.show {
  opacity: 1;
  pointer-events: all;
}

.header {
  background-color: rgba(0, 0, 0, 0.956);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header #logo-container {
  width: 100px;
}
.header #logo {
  width: 80px;
  transition: transform ease-in-out 300ms;
}
.header #logo:hover {
  transform: scale(1.2);
}
.header .get-in-touch {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.5rem;
  margin-left: -2rem;
  width: 200px;
  transition: transform ease-in-out 300ms;
  text-align: center;
}
.header .get-in-touch:hover {
  transform: scale(1.2);
  font-weight: 500;
}
.header .fa-solid.fa-bars {
  font-size: 1.5rem;
  transition: transform ease-in-out 300ms;
}
.header .fa-solid.fa-bars:hover {
  transform: scale(1.2) rotate(10deg);
}
.header #menu {
  background-color: #252525;
  height: auto;
  width: 100vw;
  position: fixed;
  border-radius: 1rem;
  top: -100%;
  left: 0;
  transition: top 300ms;
}
.header #menu a {
  text-decoration: none;
}
.header #menu .content-contaier .menu-headlines {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-decoration: underline 2px white;
          text-decoration: underline 2px white;
  text-underline-offset: 10px;
  margin-bottom: 20px;
  position: relative;
}
.header #menu .content-contaier .menu-headlines::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: -7px;
  height: 2px;
  background-color: #ffffff;
}
.header #menu .content-contaier p {
  margin-left: 2.5rem;
  font-size: 0.9rem;
}
.header #menu .content-contaier i {
  margin-right: 1.2rem;
}
.header #menu .content-contaier h6 {
  font-size: 1.2rem;
}
.header #menu .content-contaier .text-container {
  padding-bottom: 0.5rem;
  transition: ease-in-out 200ms;
}
.header #menu .content-contaier .text-container:hover {
  transform: scale(1.03);
}
.header #menu .paid-social {
  margin-left: 3rem;
}
.header #menu #app h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.header #menu.open {
  top: 6.5%;
}
.header #toggle-menu {
  background-color: transparent;
  border: none;
  color: white;
}

.main {
  color: white;
  position: relative;
}
.main #phone {
  z-index: 1;
  position: absolute;
  bottom: -10%;
  right: -12%;
}
.main #circuits {
  z-index: 0;
  position: relative;
  transform: rotate(45deg);
  animation: wink infinite ease-in-out 3s;
}
@keyframes wink {
  0% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
.main .image-main {
  padding-block: 3rem;
}

.simplify-optimize .container {
  padding-top: 2rem;
  z-index: -1;
}
.simplify-optimize .image-container {
  position: relative;
}
.simplify-optimize .mobil-circle {
  border: solid 4px red;
  animation: colorBorderChange 6s infinite;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7764705882), inset 0 0 10px 0 rgba(255, 255, 255, 0.7058823529);
}
@keyframes colorBorderChange {
  0% {
    border-color: rgb(132, 181, 255);
  }
  25% {
    border-color: rgb(124, 255, 124);
  }
  50% {
    border-color: rgb(255, 130, 130);
  }
  75% {
    border-color: rgb(255, 244, 128);
  }
  100% {
    border-color: rgb(183, 131, 255);
  }
}
.simplify-optimize .two-phones {
  width: 100%;
  padding-block: 2rem;
  z-index: 1;
  position: relative;
}

.headlines {
  padding-bottom: 2rem;
}

.success {
  display: block;
  text-align: left;
  padding-inline: 2rem;
}
.success a {
  color: white;
  text-decoration: none;
}
.success h2 {
  font-weight: 400;
  font-size: 24px;
  padding-right: 6rem;
  margin: 0;
}
.success p {
  padding-block: 1rem;
}
.success .image-box {
  position: relative;
  padding-block: 1rem;
  display: block;
}
.success .image-box img {
  width: 100%;
  opacity: 0.7;
}
.success .image-box .text-container {
  position: absolute;
  bottom: 5%;
  right: 2%;
  left: 2%;
}
.success .image-box .text-container h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
.success .image-box .text-container p {
  font-size: 14px;
}

.new-era {
  padding: 2rem;
}

.download .image-box {
  width: 100%;
}
.download .image-box img {
  width: 80%;
  padding-block: 2rem;
}
.download p {
  font-size: 1rem;
  padding-block: 2rem;
}
.download a {
  font-weight: 800;
}

.help {
  text-align: left;
  background-color: #031113;
}
.help p {
  padding-block: 0.5rem;
  font-size: 12px;
}

.search {
  text-align: left;
  background-color: #031113;
}
.search .content-contaier {
  border: solid 1px white;
  padding: 1rem;
  width: 100%;
  margin-block: 1rem;
}
.search h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.search .text-container {
  display: block;
  transition: transform ease-in-out 300ms;
}
.search .text-container p {
  font-size: 12px;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.search .text-container a {
  text-decoration: none;
}
.search .text-container i {
  margin-right: 2rem;
}
.search .text-container h6 {
  font-weight: 700;
}
.search .text-container:hover {
  transform: scale(1.08);
}
.search .paid-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-solid.fa-chart-line {
  color: rgb(255, 130, 130);
}

.fa-solid.fa-chart-column {
  color: rgb(90, 164, 255);
}

.fa-brands.fa-shopify {
  color: rgb(1, 197, 76);
  margin-right: 1.5rem;
}

.fa-brands.fa-facebook {
  color: 0;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.strategi {
  text-align: left;
  background-color: #031113;
}
.strategi h1 {
  font-weight: 700;
  padding-bottom: 1rem;
}
.strategi p {
  font-size: 19px;
  font-weight: 100;
}
.strategi #red-text {
  color: #ff9797;
}
.strategi #text-center {
  text-align: center;
  padding-block: 2rem;
}

.world {
  background-color: #212121;
  display: flex;
  color: white;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.world p {
  padding-block: 1rem;
}
.world #woman-swinging {
  background-color: transparent;
  width: 50%;
  box-shadow: 0 0 20px 2px black;
  padding-bottom: 2rem;
}
.world h2 {
  font-weight: 600;
}
.world .image-container {
  width: 90%;
  background-color: #212121;
  position: relative;
  box-shadow: 0 0 6px 2px #000000;
  transition: ease-in-out 120ms;
}
.world .image-container:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.539);
}
.world .image-container:hover .image {
  opacity: 0.8;
}
.world .image-container .text-container {
  position: absolute;
  z-index: 1;
  inset: 0;
  top: 50%;
}
.world .image {
  width: 100%;
  opacity: 0.6;
  transition: opacity ease-in-out 120ms;
}

.section-end .rectangle {
  width: 100%;
  background-color: white;
  position: relative;
}
.section-end .rectangle .point {
  width: 0;
  height: 0;
  border: solid 50vw transparent;
  border-top: solid 5rem #212121;
  border-bottom: none;
  z-index: 1;
  position: absolute;
}
.section-end .rectangle .second-point {
  width: 0;
  height: 0;
  border: solid 50vw transparent;
  border-top: solid 6.5rem #909090;
  border-bottom: none;
  z-index: 4;
}

.talk {
  background-color: white;
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.talk h2 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.talk .image-container-2 {
  position: relative;
  background-color: #031113;
  width: 90%;
}
@media (min-width: 768px) {
  .talk .image-container-2 {
    width: 25%;
  }
}
.talk .image-container-2 .image-talk {
  opacity: 0.5;
  width: 100%;
}
.talk .image-container-2 .text-container {
  position: absolute;
  bottom: 5%;
  color: white;
}
@media (min-width: 768px) {
  .talk .image-container-2 .text-container {
    bottom: 25%;
  }
}
.talk .image-container-2 .text-container p {
  padding-bottom: 2rem;
  padding-inline: 1rem;
}
.talk #cat {
  width: 100%;
}

.end {
  padding-block: 2rem;
  background-color: #000000;
}
.end .text-container {
  padding-block: 1.5rem;
}
.end .text-container h2 {
  font-weight: 300;
}
.end .text-container h3 {
  font-weight: 700;
  font-size: 1.2rem;
}
.end .text-container ul {
  padding-block: 1rem;
  list-style-type: none;
  margin: 0;
  padding-inline: 0;
}
.end .text-container li {
  padding-block: 0.2rem;
  transition: ease-in-out 300ms;
}
.end .text-container li:hover {
  -webkit-text-decoration: underline solid 2px #ff6767;
          text-decoration: underline solid 2px #ff6767;
  transform: scale(1.2);
  font-weight: 600;
}
.end .text-container .arrows {
  display: block;
  margin: auto;
  margin-block: 2rem;
  width: 50%;
  transition: transform ease-in-out 300ms;
}
.end .text-container .arrows:hover {
  transform: scale(1.2);
}
.end .text-container #big-arrows {
  width: 50%;
  margin-bottom: 2rem;
}

footer {
  background-color: #031113;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  margin: auto;
}
footer #logotype {
  width: 120px;
  padding-top: 1rem;
  transition: transform ease-in-out 300ms;
}
footer #logotype:hover {
  transform: scale(1.2);
}